/* homepage.css */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Abel|Sigmar+One');


/* -----------------------------------------------------------------------------*/
#river_headline{
	font-family: 'Abel';
	text-align: center;
	margin: 30px 0 30px 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.faq {
    padding-top: 12px;
    border-style: groove;

}

.faq_question {
    text-align: center;
    margin: 0px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    font-family: 'Abel';
    text-transform: uppercase;
    /*background-color: #bdc3cB;*/
    /*background-color: #000;*/
    /*color: #F0FF59;*/

    background-color: fff;
    color: #000;


}

.faq_question:hover {
    background-color: #000;
    color: #F0FF59;

    /*background-color: #fff;*/
    /*color: #000;*/
}

.faq_answer_container {
    height: 0px;
    max-height: inherit;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    text-align: center;
    font-family: 'Abel';
    font-size: 22px;
}

.faq_answer_container .shortAnswer{
    text-align: center;
    font-size: 50px;
}

.faq_answer_container .longAnswer{
}
