/* homepage.css */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Abel|Sigmar+One');


/* -----------------------------------------------------------------------------*/
/* COVER SLIDESHOW */

/* Larger than phablet */
/*@media (min-width: 550px) {*/

/* Slideshow container */
.slideshow-container {
	width: 100% auto;
	height: auto;
  	position: relative;
	/*top: 75px;*/
	margin: auto;
	box-sizing: border-box;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #ecf0f1;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

/* Caption text (not used, but can be used for another slideshow)*/
.text {
  	color: #f2f2f2;
  	font-size: 15px;
  	padding: 8px 12px;
  	position: absolute;
  	bottom: 40px;
  	width: 100%;
  	text-align: center;
}

/* Position dots at bottom of image */
.dotsPosition {
  	color: #f2f2f2;
  	/*padding: 8px 12px; causes width to be over 100%*/
  	position: absolute;
	  bottom: 15px;
  	width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  	cursor:pointer;
  	height: 13px;
  	width: 13px;
  	margin: 0 2px;
  	background-color: #fff;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

/* Hover, turn black */
.active, .dot:hover {
  	background-color: #000;
}

/* Fading animation (Change to different transition)*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.3s;
  	animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  	from {opacity: .7}
  	to {opacity: 1}
}
@keyframes fade {
  	from {opacity: .7}
  	to {opacity: 1}
}
/*}*/
/* COVER SLIDESHOW END */
/* -----------------------------------------------------------------------------*/

/* Main headline on slideshow */
#headline{
	overflow: hidden;
	color: #ecf0f1;
}
#headline h1{
	position: absolute;
	width: inherit;
	margin: 0;
	text-align: center;
  top: 20px;
	font-family: 'Coming Soon';
	font-size: 85px;
	font-weight: 1000;
}

/* -----------------------------------------------------------------------------*/
/* Welcome */
#welcome h3{
}

#welcome h4{
	font-size: 22px;
	padding: 0 0 10px 0;
}
/* Welcome END*/
/* -----------------------------------------------------------------------------*/


/* -----------------------------------------------------------------------------*/
/* Service, Tours, Spec Events */
#services{
	padding: 10px 15px 10px 15px; /*top right bottom left*/
	width: 400px;
	width: 100%;
}
#services h3{
	font-size: 30px;
}
#services p{
	text-align: center;
}
.center_img{
	display: block;
	margin: auto;
	padding-bottom: 5px;
}
.learn_more_link{
	display: block;
	width: 100px;
	margin: auto;
	text-decoration: none;
}
.learn_more_link p{
	border: 2px solid black;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	background-color: black;
}
.learn_more_link:hover p{
	background-color: white;
	color: black;
}
/* Service, Tours, Spec Events END */
/* -----------------------------------------------------------------------------*/


/* -----------------------------------------------------------------------------*/
/* Hours Of Operation */
#hours_operation{
	padding: 10px 0 10px 0; /*top right bottom left*/
}
#hours_operation h2{
	font-size: 36px;
	margin-top: 0;
}
#hours_operation h3{
	font-size: 24px;
	margin-bottom: 5px;
}
#hours_operation p{
	margin: 0;
}
/* Hours Of Operation END */
/* -----------------------------------------------------------------------------*/
