/* homepage.css */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Abel|Sigmar+One');

hr{
	width: 50%;
}

#content{
	font-family: 'Abel';
}
#content > div{
	overflow: auto;
}

#headline{
	height: 600px;
	overflow: hidden;
	color: white;
}
#headline_background{
	background: url("../Images/headline_bg.jpg") center;
	height: inherit;
	opacity: 1;
}
#headline h1{
	position: absolute;
	width: inherit;
	margin: 0;
	text-align: center;

	font-family: 'Sigmar One';
	top: 334px;
	font-size: 50px;
	/*or*/
/*	font-family: 'Coming Soon';
	font-size: 50px;
	top: 310px; */
	/*or*/
}
#headline p{
	position: absolute;
	top: 658px;
	width: inherit;
	margin: 0;
	text-align: right;
	font-family: 'News Cycle';
	font-size: 10px;
}

#welcome{
	padding: 0 0 30px 0;
}
#welcome h3, #welcome h4{
	text-align: center;
}
#welcome h4{
	margin-left: 20px;
	margin-right: 20px;
}

#services{
	padding: 30px 0 30px 0; /*top right bottom left*/
}
#services > div{
	float: left;
	width: 380px;
	margin: 0;
	padding: 0 10px 0 10px;
}
#services h3, #services p{
	text-align: center;
}
.center_img{
	display: block;
	margin: auto;
}
.learn_more_link{
	display: block;
	width: 100px;
	margin: auto;
	text-decoration: none;
}
.learn_more_link p{
	border: 2px solid black;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	background-color: black;
}
.learn_more_link:hover p{
	background-color: white;
	color: black;
}

#hours_operation{
	font-family: 'Abel';
	text-align: center;
	padding: 30px 0 30px 0; /*top right bottom left*/
}
#hours_operation h2{
	margin-top: 0;
}
#hours_operation h3{
	margin-bottom: 5px;
}
#hours_operation p{
	margin: 0;
}

@media (max-width: 1215px) { /*makes services content reponsive - only quick fix need to come back to this*/
	#services > div{
		display: block;
		width: 90%;
		margin-left: 4%; /*not 5% bc outer div has margins*/
		padding-bottom: 20px;
	}
}
@media (max-width: 834px) { /*vertically centers two line headline text*/
	#headline h1{
		top: 278px;
	}
}
@media (max-width: 486px) { /*verically centers three line headline text*/
	#headline h1{
		top: 237px;
	}
}
