/*rates.css*/

hr{
	width: 70%;
}

/*-----------------------------------------------------------------------------*/
/* Intro */
.font_abel{
	font-family: 'Abel';
}
#services_overview h1{
	margin: 40px 0 40px 0;
}
#services_overview h1, #services_overview h4{
	text-align: center;
}
#services_overview_visualization{
	width: 100%;
	height: 300px;
	background-color: #768196;
}
#services_overview_visualization{
	background-image: url("../Images/visualization.png");
}
/* Intro END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* styles common to all service section divs */
.service_section{
	margin: 40px 0 40px 0;
	overflow: auto;
}
.service_section h2{
	margin: 0;
}
.service_section hr{
	width: 80%;
	margin: 0 0 15px 0;
}
.service_section > div{
	float: left;
}
.service_section > h4{
	text-align: center;
}
/* styles common to all service section divs END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* Rentals */
#rentals > div{
	width: 560px;
	padding: 0 20px 0 20px;
}
#rates tr:first-child{
	background-color: #3c4b69;
	color: white;
}
#rates td{
	padding: 0 10px 0 10px;
}
#rates td:first-child{
	width: 300px;
}
#rates td{
	float: left; /*removes space between td's*/
}
#rates .entry_row:hover{
	background-color: #768196;
	color: white;
}
#what_to_bring ul{
	list-style-image: url('../Images/check-mark.png');
	margin: 12px 0 12px 0;
}
#what_to_bring li{
	padding: 6px 0 6px 0;
}
/* Rentals END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* classes for divs within tours and special events */

.service_description{
	width: 100%;
	text-align: center;
}
.service_examples{
	overflow: auto;
	margin: auto;
}
.example{
	display: flex;
	align-items: center;
	float: left;
	width: 380px;
	height: 280px;
	margin: 10px;

	overflow: hidden;
	background-color: black;
}
.example > img, .example > h3, .example > p{
	position: absolute;
	width: 380px;
}
.example > h3, .example > p{
	position: absolute;
	text-align: center;
	margin: 0;
	color: white;
}
.example > img{
	opacity: 0.7;
}
.example > h3{
	font-size: 36px;
}
.example > h3 span{
	padding: 5px;
	
}
.example > p{
	display: none;
	width: 360px;
	margin: 0 10px 0 10px;
}
.example:hover{
	cursor: pointer;
}
.example:hover > h3 span{
	border: 4px solid white;
}
/* classes for divs within tours and special events END */
/*-----------------------------------------------------------------------------*/


#tours img{
	height: 280px;
}


/*-----------------------------------------------------------------------------*/
/* Rules, Note About Reservations */
.service_notes{
	width: 94%;
	margin: 0 3% 0 3%;
	padding-bottom: 40px;
}
#rules ul{
	list-style-type: circle;
}
#rules li{
	padding: 10px 0 10px 0;
}
/* Rules, Note About Reservations */
/*-----------------------------------------------------------------------------*/


@media (max-width: 1215px) {
	#rates, #what_to_bring{
		float: none;
		display: block;
		margin: auto;
	}
	#rates{
		margin-bottom: 75px;
	}


}
@media (max-width: 630px) {
	#rentals > div{
		padding: 0 3% 0 3%;
		width: 94%;
	}
	#rentals > h3{
		font-size: 15px;
	}
	#rates h4{
		font-size: 14px;
	}
	#rates tr{
		font-size: 12px;
	}
	#rates td:first-child{
		width: 150px;
	}
	#rates p{
		font-size: 11px;
	}
	#what_to_bring li{
		font-size: 12px;
	}
}





