/*rates.css*/

hr{
	width: 70%;
}

/*-----------------------------------------------------------------------------*/
/* Intro */
.font_abel{
	font-family: 'Abel';
}
#services_overview h1{
	margin: 40px 0 40px 0;
}
#services_overview h1, #services_overview h4{
	text-align: center;
}
#services_overview_visualization{
	width: 100%;
	height: 300px;
	background-color: #768196;
}
#services_overview_visualization{
	background-image: url("../Images/visualization.png");
}
/* Intro END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* styles common to all service section divs */
.service_section{
	margin: 40px 3%;
	width: 94%;
	overflow: auto;
}
.service_section h2{
	margin: 0;
}
.service_section hr{
	width: 80%;
	margin: 0 0 15px 0;
}
.call{
	float: left;
	width: 100%;
	text-align: center;
	color: yellow;
	margin: 40px 0;
}
.call span{
	padding: 10px 30px;
	background-color: black;
}
/* styles common to all service section divs END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* Rentals */
#rentals > div{
	float: left;
	width: 524px;
	padding: 0 20px 0 20px;
}
#rates tr:first-child{
	background-color: #3c4b69;
	color: white;
}
#rates td{
	padding: 0 10px 0 10px;
}
#rates td:first-child{
	width: 300px;
}
#rates td{
	float: left; /*removes space between td's*/
}
#rates .entry_row:hover{
	background-color: #768196;
	color: white;
}
#what_to_bring ul{
	list-style-image: url('../Images/check-mark.png');
	margin: 12px 0 12px 0;
}
#what_to_bring li{
	padding: 6px 0 6px 0;
}
/* Rentals END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* classes for divs within tours and special events */

.service_description{
	width: 100%;
}
.service_examples{
	display: table;
	overflow: auto;
	margin: auto;
}
.example{
	display: flex;
	align-items: center;
	float: left;
	width: 356px;
	height: 280px;
	margin: 10px;
	background-color: black;
	overflow: hidden;
	}
.example img, .example > h3, .example > p{
	position: absolute; /*consider doing this in a relative position*/
	width: 356px;
}
.example > h3, .example > p{
	position: absolute;
	text-align: center;
	margin: 0;
	color: white;
}
.example img{
	opacity: 0.7;
}
.example > h3{
	font-size: 36px;
}
.example > h3 span{
	padding: 5px;
}
.example > p{
	display: none;
	width: 336px;
	margin: 0 10px 0 10px;
}
.example:hover{
	cursor: pointer;
}
.example:hover > h3 span{
	border: 4px solid white;
}
/* classes for divs within tours and special events END */
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/* Rules, Note About Reservations */
.service_notes{
	width: 94%;
	margin: 0 3% 0 3%;
	padding-bottom: 40px;
}
#rules ul{
	list-style-type: circle;
}
#rules li{
	padding: 10px 0 10px 0;
}
/* Rules, Note About Reservations */
/*-----------------------------------------------------------------------------*/



@media (max-width: 1215px) {
	/*fix styles of the rentals section*/
	#rentals > div{
		float: none;
	}
	#rates, #what_to_bring{
		margin: auto;
	}
	#rates{
		margin-bottom: 40px;
	}
	#rates > h3, #what_to_bring > h3{
		margin: 14px 0 4px 0;
	}
	#rates > h4{
		margin: 0 0 10px 0;
	}
	#what_to_bring > ul{
		margin: 0 0 12px 0;
	}

	/*fix styles of the tours and special events sections*/
	.example{
		float: none;
		width: 540px;
	}
	.example img{
		height: 280px;
	}
	.example img, .example h3{
		width: 540px;
	}
	.example > p{
		width: 520px;
	}
}
@media (max-width: 630px) {
	/*fix styles of the intro section*/
	#services_overview h1{
		font-size: 30px;
	}
	#services_overview h4{
		font-size: 14px;
	}

	/*fix styles of the rentals section*/
	#rentals > div{
		padding: 0 3% 0 3%;
		width: 94%;
	}
	#rentals > h3{
		font-size: 15px;
	}
	#rates h4{
		font-size: 14px;
	}
	#rates tr{
		font-size: 12px;
	}
	#rates td:first-child{
		width: 150px;
	}
	#rates p{
		font-size: 11px;
	}
	#what_to_bring li{
		font-size: 12px;
	}

	/*fix styles of the tours and special events sections*/
	.example{
		width: 300px;
	}
	.example img{
		height: 280px;
	}
	.example img, .example h3{
		width: 300px;
	}
	.example > p{
		width: 280px;
	}
	.example h3{
		font-size: 24px;
	}

	.service_description > p{
		font-size: 14px;
	}

	#reservation_notes h4{
		font-size: 14px;
	}
	#rules li{
		font-size: 13px;
	}
}