/* river.css */

#river_headline{
	font-family: 'Abel'; /*import included in main.css*/
	text-align: center;
	margin: 40px 0 40px 0;
}
.river_section{
	width: 100%;
	height: 400px;
	font-family: 'Abel';
	/*margin-bottom: 20px;*/
}
.river_section_img_wrapper{
	float: left;
	width: 795px;
	height: 100%;
}
.river_section_img_wrapper a{
	position: relative;
	top: 370px;
	left: 10px;
	font-size: 8px;
	font-family: 'News Cycle';
	color: white;
}
.river_section_img{
	float: left;
	width: 265px;
	height: 100%;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	overflow: hidden;
}
.river_section_info{
	float: left;
	width: 325px;
	height: 100%;
	padding: 0 40px 0 40px;
}
#clear_water_img1{
	background-image: url('../Images/clear_water2.jpg');
	background-position: 50% 85%;
}
#clear_water_img2{
	background-image: url('../Images/clear_water1.jpg');
	background-position: center;
}
#clear_water_img3{
	background-image: url('../Images/clear_water3.jpg');
	background-position: 50% 80%;
}
#clear_water h3, #clear_water p{
	position: relative;
	top: 66.78px;
}
#hospital_hole_img1{
	background-image: url('../Images/hospital_hole1.jpg');
	background-position: center;
}
#hospital_hole_img2{
	background-image: url('../Images/hospital_hole3.jpg');
	background-position: 50% 80%;
}
#hospital_hole_img3{
	background-image: url('../Images/hospital_hole2.jpg');
	background-position: center;
}
#hospital_hole h3, #hospital_hole p{
	position: relative;
	top: 77.28px;
}
#marine_life_img1{
	background-image: url('../Images/marine_life2.jpg');
	background-position: center;
}
#marine_life_img2{
	background-image: url('../Images/marine_life1.jpg');
	background-position: center;
}
#marine_life_img3{
	background-image: url('../Images/marine_life3.jpg');
	background-position: center;
}
#marine_life h3, #marine_life p{
	position: relative;
	top: 45.78px;
}
#wwsp_img1{
	background-image: url('../Images/wwsp2.jpg');
	background-position: 70% 50%;
}
#wwsp_img2{
	background-image: url('../Images/wwsp1.jpg');
	background-position: center;
}
#wwsp_img3{
	background-image: url('../Images/wwsp3.jpg');
	background-position: center;
}
#wwsp h3, #wwsp p{
	position: relative;
	top: 45.78px;
}
.expand_img{
	width: 715px;
}
.shrink_img{
	width: 40px;
}
@media (max-width: 1215px) {
	.river_section{
		height: 600px;
		margin-bottom: 20px;
	}
	.river_section_img_wrapper{
		position: absolute;
		width: 98%;
		height: 600px;
		background-color: black;
	}
	.river_section_info{
		position: absolute;
		width: 70%;
		height: 600px;
		padding: 0;
		margin: 0 15% 0 15%;
		z-index: 1;
		text-align: center;
		color: white;
	}
	.river_section_img{
		height: 100%;
	}
	.mobile_expand{
		width: 100%;
		opacity: 0.7;
	}
	.river_section_img_wrapper a{
		top: 570px;
	}
}